{% extends 'base.html.twig' %}

{% block title %}Edition des personnages{% endblock %}

{% block body %}
    <h1>Editer les personnages</h1>

    {{ include('character/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_character_index') }}">Revenir à la liste des personnages</a>

    {{ include('character/_delete_form.html.twig') }}
{% endblock %}
