{% extends 'base.html.twig' %}

{% block title %}Edit Story
{% endblock %}

{% block body %}
	<h1>Edit Story</h1>

	{{ include('story/_form.html.twig', {'button_label': 'Update'}) }}


	{{ include('story/_delete_form.html.twig') }}
{% endblock %}
