    <!-- -------------------------Container dropdown storiz--------------------- -->

    <div class="container-lg mt-1">
        <div class="row">
            <div class="col-lg-5">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Choix de la catégorie personnage">
                        Catégorie Personnage
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" alt="">Tous</a></li>
                        <li><a class="dropdown-item" href="#" alt="">Famille Lechangeur</a></li>
                    </ul>
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCategory" title="tableau des catégories"><i class="fi fi-rr-settings"></i></button>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewCharacter" title="Créer un nouveau personnage">Nouveau personnage</button>
                </div>
            </div>
            <div class="col">
                <div class="dropdown">
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="Choix du chapitre">
                        Chapitre
                    </button>
                    <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" alt="">1 - Prologue</a></li>
                    </ul>
                    <button type="button" class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modalSettingCChapter" alt="Tableau des chapitres"><i class="fi fi-rr-settings"></i></button>
                    <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modalNewChapter" alt="Créer un chapitre">Nouveau chapitre</button>

                    <label for="exampleFormControlTextarea6" id="modalNewChapter" title="Titre du chapitre">Chapitre 7 - Quand soudain</label>
                </div>

            </div>
        </div>
    </div>