
	<!-- ------------------------Modal update Catégorie--------------------- -->

	<div class="modal fade" id="modalUpdateCategory" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="staticBackdropLabel">Renommer catégorie</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body ">
					<form action="" method="post" id="formConnexion">
						<div class="mb-3">
							<label for="nextCategory" class="form-label">Titre actuel</label>
							<input type="text" name="nextCategory" class="form-control" id="nextCategory">
						</div>
						<div class="mb-3">
							<label for="updateCategory" class="form-label">Nouveau titre</label>
							<input type="text" name="updateCategory" class="form-control" id="updateCategory">
						</div>
						<buttonValider type="submit" class="btn btn-outline-success justify-content-center" href="#">Actualiser</button>
					</form>
				</div>
			</div>
		</div>
	</div>