{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1 class="text-center">Nouvel utilisateur</h1>
    <div class="form-group col-8 m-auto">
        {{ include('user/_form.html.twig') }}
    </div>
    <a type="button" class="btn btn-warning btn-lg col-8 m-auto" href="{{ path('app_user_index') }}">Retour liste</a>
{% endblock %}
